/* Varios */
#content  {
    font-size: 1.4em;
}

.YACSSTooltip {
    font-size: 1rem !important;
}

footer hr {
    margin-top:5em;
}

/* Imágenes */

.center {
     text-align: center;
}

img.right {
    float: right;
    margin-left: 10px;
    max-width: 30%;
}

img.left {
    float: left;
    margin-right: 10px;
    max-width: 30%;
}

@media (max-width: 720px) {
	img.right, img.left {
        float: none;
        display:block;
        margin: auto auto;
    }

    img.max50 {
        max-width: 50%;
    }
}

/* Galería de imágenes */

.galeria {
    padding:0;
    font-size: 0;   /*Anular posibles espacios entre imágenes*/
}

.galeria.vertical {
    column-count: 3;
}

.galeria.vertical.x2 {
    column-count: 2;
}

.galeria.horizontal {
    text-align: center;
}

.galeria.horizontal img {
    float: none;
    max-width: 32%;
    margin: 0.5%;
    vertical-align: top;
}

.galeria.horizontal.x2 img {
    max-width: 48.5%;
}

@media (max-width: 720px) {
    .galeria.vertical {
        columns:2;
    }

    .galeria.horizontal img {
        max-width: 48.5%;
    }
}

@media (max-width: 480px) {
    .galeria.vertical, .galeria.vertical.x2 {
        columns: 1;
    }

    .galeria.horizontal img, .galeria.horizontal.x2 img {
        max-width: 99%;
    }
}

/* Vídeo */
.video {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:56%;
}

.video iframe {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}